<div class="jumbotron text-center">
    <h1 class="display-3">{{title}} </h1>
    <p class="lead">exploring games with / without ai</p>
    <a href="/games/TictacToe" class "btn btn-dark btn-lg"> Play Tic-tic-toe</a> </br>
    <a href="/games/asteroids" class "btn btn-dark btn-lg"> Play 1970's Asteroids</a></br>
    <a href="/games/asteroidsAI" class "btn btn-dark btn-lg"> Watch an AI play Asteroids</a>
</div>