<div class="jumbotron text-center">
    <h4 class="display-5">AI for DOTS</h4><br>
    <p class="lead">exploring classic games with / without ai <b>
        <font color="salmon"> (computer with keyboard) </font:></b></p> <br>

    <a href="/games/TictacToe" class "btn btn-dark btn-lg">  <p> Play Tic-tic-toe </p></a> </br>
    <a href="/games/pong" class "btn btn-dark btn-lg"> <p>Play ping-pong with AI </p></a></br>
    <a href="/games/asteroids" class "btn btn-dark btn-lg"> <p> Play 1970's Asteroids </p></a></br>
    <a href="/games/asteroidsAI" class "btn btn-dark btn-lg"> <p>AI plays the Asteroid </p></a>

</div>