

<script src="/public/js/pong/matrixOps.js"></script>
<script src="/public/js/pong/neuralNets.js"></script>
<script src="/public/js/pong/AiPaddle.js"></script>
<script src="/public/js/pong/Paddle.js"></script>
<script src="/public/js/pong/inputs.js"></script>
<script src="/public/js/pong/ball.js"></script>
<script src="/public/js/pong/game.js"></script>


<style>
    #gameScreen {
        border: 1px solid black;
        background-color: rgba(0, 0, 0);
    }
</style>
</head>

<body>
    <canvas id="gameScreen" width="700" height="500"> </canvas>
    <script src="/public/js/pong/pongAi.js"></script>
</body>
